<ion-view title="Home" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="home-list1">
      <ion-item class="item-icon-left item-icon-right" id="home-list-item1" ui-sref="campusTravel.agentBookings">
        <i class="icon ion-ios-book"></i>Agent Bookings
        <i class="icon ion-arrow-right-b"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="home-list-item2" ui-sref="campusTravel.sales">
        <i class="icon ion-cash"></i>Sales
        <i class="icon ion-arrow-right-b"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="home-list-item3" ui-sref="campusTravel.addAgent">
        <i class="icon ion-ios-body"></i>Add Agent
        <i class="icon ion-arrow-right-b"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="home-list-item4" ui-sref="campusTravel.addSale">
        <i class="icon ion-ios-barcode"></i>Add Sale
        <i class="icon ion-arrow-right-b"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="home-list-item5" ui-sref="campusTravel.searchSales">
        <i class="icon ion-android-search"></i>Search Sales
        <i class="icon ion-arrow-right-b"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>